.resources{
font-family: Montserrat, Helvetica, Arial, sans-serif;
font-weight: lighter;
color: #FFFFFF;

background-color:#C76B98;

border-collapse: separate;
border-style: solid;
border-spacing: 15px;
border-width: 10px;
border-color: #FFFFFF;
border-radius: 15px;

padding: 15px;
}

.header{
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #C76B98;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: white;
}

/* Add a color to the active/current link */
.post {
  background: #1FBED6;
  color: white;
  text-decoration: none;
  padding: 0.1em 1em;
  font-size: 17px;
  border-radius: 0.7em;
  font-weight: bold;
  display: inline-block;
  line-height: 40px;
}

/* Navigation Bar */
nav {
  background: white;
  height: 80px;
  width: 100%;
}

label.logo {
  color: #c76b98;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  letter-spacing: 1.5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 30px;
  border-radius: 3px;
  text-transform: uppercase;
}

.login {
  background: white;
  color: black;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}